<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>Assignments</p>
    <p></p>
    <p>Homework 1</p>
    <p>This assignment familiarized us with binary and list operations in python</p>
    <p></p>
    <p>Homework 2</p>
    <p>This assignment gave us practice with sorting algorithms and simulations</p>
    <p></p>
    <p>Homework 3</p>
    <p>This homework introduced fuctions and recursiveness in the percolation theory problem</p>
    <p></p>
    <p>Homework 4</p>
    <p>This assignment taught us to use object-oriented programming to model a class with students, assignments, and a teacher</p>
    <p></p>
    <p>Homework 5</p>
    <p>This homework finished the machine-learning project by implementing scikit-learn and knn</p>
    <p></p>    
    </body>
</html>

